@import './tailwind.css';

.input {
  @apply px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-teal-500 focus:border-teal-500;
}

.btn-primary {
  @apply bg-teal-600 text-white px-6 py-2 rounded-md font-semibold hover:bg-teal-700 transition-colors;
}

.btn-secondary {
  @apply bg-gray-200 text-gray-700 px-6 py-2 rounded-md font-semibold hover:bg-gray-300 transition-colors;
}

html, body {
  height: 100%;
}

.bg-image {
  @apply absolute inset-0 z-0 bg-cover bg-center bg-no-repeat;
}
